
<section class="hero">
    <div class="hero-body p-6">
        <h1 class="has-text-centered is-size-1 margin">The Legend of the Banana Justice League</h1>
    </div>
</section>
<div class="container">

<div class="section-of-text">
    <p>The world was in danger. Captain <span class="input-words">{{noun1}}</span> and her <span
            class="input-words">{{noun2}}</span> army had seized control
        of every inhabitable corner of the earth.</p>
</div>

<div class="section-of-text">
    <p>
        <span class="input-words">{{noun3}}</span> was everywhere. It’s citizens were <span
            class="input-words">{{verb15}}</span>ing through a sea of <span class="input-words">{{adjective4}}</span> trash.
        They could barely
        move.
    </p>
</div>

<div class="section-of-text">
    <p>
        But one day, a few <span class="input-words">{{adjective5}}</span>, green shoots emerged from a forgotten plot of
        land, and there grew a banana tree.
        The <span class="input-words">{{adjective6}}</span> banana: a source of energy, fibre and potassium. It came with
        it’s own biodegradable packaging,
        leaving no trace behind on this earth at the end of it’s life.
    </p>
</div>

<div class="section-of-text">
    <p>
        This humble banana had a dream, a <span class="INPUT-words">{{noun7}}</span>. He could see a world without rubbish,
        a world where all food had it’s
        own biodegradable packaging.
    </p>
</div>

<div class="section-of-text">
    <p>
        But he couldn’t do it alone. He needed the help of the friends he had known since<span
            class="input-words">{{time_in_the_past8}}</span>:
        <span class="input-words">{{noun9}}</span>, <span class="input-words">{{noun10}}</span> and <span
            class="input-words">{{noun11}}</span>.
    </p>
</div>

<div class="section-of-text">
    <p>
        He sent out a missive, entreating his friends to help him with his <span class="input-words">{{noun12}}</span>. The
        friends <span class="input-words">{{past_tense_verb13}}</span> and
        stormed the planet, using their <span class="input-words">{{adjective14}}</span> powers to turn every piece of <span
            class="input-words">{{noun3}}</span> into a cornstarch, paper or
        seaweed based material.
    </p>
</div>

<div class="section-of-text">
    <p>
        And ever since that day, banana, <span class="input-words">{{noun9}}</span>, <span
            class="input-words">{{noun10}}</span> and <span class="input-words">{{noun11}}</span> have been roaming the
        earth, fighting against
        the evils of Captain <span class="input-words">{{noun1}}</span> and her <span class="input-words">{{noun2}}</span>
        army. The group vowed to protect the earth from the perils of
        polystyrene. And the group were henceforth known as: the Banana Justice League.
    </p>
</div>


</div>
<div class="center">
    <a class="button is-primary is-warning" href="/form">Write another story</a>
    
    <a class="button is-primary is-warning" href="/">Head Home</a>
</div>

{{!-- {
"noun1": "noun1",
"noun2": "noun2",
"noun3": "noun3",
"adjective4": "adjective4",
"adjective5": "adjective5",
"adjective6": "adjective6",
"noun7": "noun7",
"time-in-the-past8": "time-in-the-past8",
"noun9": "noun9",
"noun10": "noun10",
"noun11": "noun11",
"past-tense-verb13": "past-tense-verb13",
"adjective14": "adjective14",
"verb15": "verb15"
} --}}